# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

# JSON and Markdown files - 2 spaces
[*.{json,md}]
indent_style = space
indent_size = 2

# Python files - 4 spaces
[*.py]
indent_style = space
indent_size = 4

# C files - tabs allowed
[*.{c,h}]
indent_style = tab
indent_size = 4

# Makefiles - tabs required
[Makefile]
indent_style = tab
